$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  overflow: hidden;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

@media screen and (max-width: 767px) {
  .well2{
    height: 86vh;
  }
  .well1{
    display: none;
  }

  #navPpal{
    position: fixed;
    z-index: 1030;
    left: 0;
    right: 0;
  }
  #step-1, #step-2, #step-3, #step-4{
    margin-top: 9em;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  #navPpal{
    position: fixed;
    z-index: 1030;
    left: 0;
    right: 0;
    top: 1.5em;
  }
  //Para fijar el menu secundario
  #step-1, #step-2, #step-3, #step-4{
    margin-top: 6em;
  }
  .well1{
    height: 9vh;
  }
  .well2{
    height: 81vh;
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.well1{
  border-top: 1px solid #e3e3e3;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  background-color: #f5f5f5;
}
.well2{
  background-color: #f5f5f5;
  border-bottom: 1px solid #e3e3e3;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-top: -2em;
  padding-top: 2em;
  overflow-y: auto;
  width: 100%;
}
.panel-collapse-clickable{
  cursor: pointer;
}
.input-group{
  margin-bottom: 1em;
}
.espacio{
  margin-top: 2em;
}
.panel{
  overflow: auto;
  margin-bottom: 2em;
}
.panel-default > .panel-heading {
  background: none;
}
#containerPpal{
  margin-right: 18em;
  margin-left: 18em;
}

//Para quitar las flechas comentar esto:
li.active > #arrow1:after, li.active > #arrow2:after, li.active > #arrow3:after {
  width: 0;
  height: 0;
  border-top: 13px inset transparent;
  border-bottom: 13px inset transparent;
  border-left: 13px solid #337ab7;
  position: absolute;
  border-radius: 3px;
  content: "";
  top: -0.5px;
  right: -11px;
  z-index: 2;
}
//Para quitar las flechas comentar esto:
#navPpal > li:not(.active):not(:last-child) > a:hover:after{
  text-decoration: none;
  width: 0;
  height: 0;
  border-top: 13px inset transparent;
  border-bottom: 13px inset transparent;
  border-left: 13px solid #eeeeee;
  position: absolute;
  border-radius: 3px;
  content: "";
  top: 0.5px;
  right: -11px;
  z-index: 2;
}
#arrow1, #arrow2, #arrow3, #arrow4{
  height: 25px;
}
#navPpal > li > a {
  padding: 0px 15px;
}
#navPpal > li > a > h4{
  line-height: 1.5;
  margin-bottom: -2px;
}
.margen{
  margin-top: 1em;
}
.titulo {
  width: 100%;
  overflow: hidden;
  margin-bottom: 1em;
  z-index: 9999;
}
