<div class="row form-group">
  <div class="col-xs-12">
    <ul id="navPpal" class="nav nav-pills nav-justified thumbnail setup-panel">

      <li class="active">
        <a id="arrow1" href="#step-1">
          <h4 class="list-group-item-heading">Datos solicitante</h4>
          <!-- <p class="list-group-item-text">First step description</p> -->
        </a>
      </li>

      <li>
        <a id="arrow2" href="#step-2">
          <h4 class="list-group-item-heading">Análisis solicitados (I)</h4>
          <!-- <p class="list-group-item-text">Second step description</p> -->
        </a>
      </li>

      <li>
        <a id="arrow3" href="#step-3">
          <h4 class="list-group-item-heading">Análisis solicitados (II)</h4>
          <!-- <p class="list-group-item-text">Third step description</p> -->
        </a>
      </li>

      <li>
        <a id="arrow4" href="#step-4">
          <h4 class="list-group-item-heading">Observaciones</h4>
          <!-- <p class="list-group-item-text">Fourth step description</p> -->
        </a>
      </li>

    </ul>
  </div>
</div>

<!-- ////////////////////////////////// -->
<!-- ////////////// PASO 1 //////////// -->
<!-- ////////////////////////////////// -->
<div class="row setup-content" id="step-1">

  <div class="well1">
    <div class="container text-center">
      <h1>Datos solicitante</h1>
    </div>
  </div>

  <div class="well2">
    <div class="container espacio">

      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3">Fecha de solicitud</span>
          <input type="text" class="form-control" aria-describedby="basic-addon3" ng-model="fechaSolicitud" ng-readonly="true">
        </div>
      </div>

      <div class="col-md-6">
        <label class="radio-inline"><input type="radio" name="optradio" ng-model="solicitud" value="Interna">Solicitud interna</label>
        <label class="radio-inline"><input type="radio" name="optradio" ng-model="solicitud" value="Externa">Solicitud externa</label>
      </div>

      <div class="col-md-12 espacio">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3">Nombre y apellidos</span>
          <input type="text" class="form-control" id="basic-url" ng-model="nombreCompleto" aria-describedby="basic-addon3">
        </div>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3">Dirección</span>
          <input type="text" class="form-control" id="basic-url" ng-model="direccion" aria-describedby="basic-addon3">
        </div>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3">Organismo/empresa</span>
          <input type="text" class="form-control" id="basic-url" ng-model="organismo" aria-describedby="basic-addon3">
        </div>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3">Teléfono</span>
          <input type="text" class="form-control" id="basic-url" ng-model="telefono" aria-describedby="basic-addon3">
        </div>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3">NIF/CIF</span>
          <input type="text" class="form-control" id="basic-url" ng-model="nif" aria-describedby="basic-addon3">
        </div>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3">Correo electrónico</span>
          <input type="text" class="form-control" id="basic-url" ng-model="correo" aria-describedby="basic-addon3">
        </div>
      </div>
    </div>

  </div>

</div>

<!-- ////////////////////////////////// -->
<!-- ////////////// PASO 2 //////////// -->
<!-- ////////////////////////////////// -->
<div class="row setup-content" id="step-2">
  <div class="well1">
    <div class="text-center">
      <h1>Análisis solicitados (I)</h1>
    </div>
  </div>

  <div class="well2">
    <div class="container espacio">

      <!-- /*/*/*/*/*/*/* PANEL 1 /*/*/*/*/*/*/* -->
      <div class="panel panel-default">
        <div class="panel-heading panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#panel1">
          <h4 class="panel-title">
            Preparación de muestras
            <span class="pull-right">
              <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
          </h4>
        </div>

        <div id="panel1" class="panel-collapse panel-collapse collapse">
          <div class="panel-body">
            <h4>Granulometría</h4>
            <p>Tamices disponibles: 250μm; 500μm; 1mm; 2mm; 4mm; 5mm; 6.3mm; 8mm; 10mm; 12mm; 12,5mm; 14mm; 20mm; 31,5mm;</p>

            <div class="input-group">
              <span class="input-group-addon">
                <label>Muestra fresca</label>
                <input type="checkbox" ng-model="mFresca" aria-label="">
              </span>
              <span class="input-group-addon">Fracciones:</span>

              <select class="form-control" ng-disabled="!mFresca" ng-model="mFrescaValor">
                <option ng-repeat="x in valores" value="{{x.id}}">{{x.nombre}}</option>
              </select>
            </div>

            <div class="input-group">
              <span class="input-group-addon">
                <label>Muestra seca</label>
                <input type="checkbox" ng-model="mSeca" aria-label="">
              </span>
              <span class="input-group-addon">Fracciones:</span>

              <select class="form-control" ng-disabled="!mSeca" ng-model="mSecaValor">
                <option ng-repeat="x in valores" value="{{x.id}}">{{x.nombre}}</option>
              </select>
            </div>

            <div class="input-group">
              <span class="input-group-addon">
                <label>Cenizas</label>
                <input type="checkbox" ng-model="mCenizas" aria-label="">
              </span>
              <span class="input-group-addon">Fracciones:</span>

              <select class="form-control" ng-disabled="!mCenizas" ng-model="mCenizasValor">
                <option ng-repeat="x in valores" value="{{x.id}}">{{x.nombre}}</option>
              </select>
            </div>

            <h4>Molienda</h4>

            <div class="input-group">
              <span class="input-group-addon">
                <label>4mm</label>
                <input type="checkbox" ng-model="mMolienda1" aria-label="">
              </span>
              <input type="text" ng-disabled="!mMolienda1" ng-model="mMolienda1Valor" class="form-control" aria-label="">
            </div>

            <div class="input-group">
              <span class="input-group-addon">
                <label>500μm</label>
                <input type="checkbox" ng-model="mMolienda2" aria-label="">
              </span>
              <input type="text" ng-disabled="!mMolienda2" ng-model="mMolienda2Valor" class="form-control" aria-label="">
            </div>

            <div class="input-group">
              <span class="input-group-addon">
                <label>250μm</label>
                <input type="checkbox" ng-model="mMolienda3" aria-label="">
              </span>
              <input type="text" ng-disabled="!mMolienda3" ng-model="mMolienda3Valor" class="form-control" aria-label="">
            </div>

          </div>
        </div>
      </div>

      <!-- /*/*/*/*/*/*/* PANEL 2 /*/*/*/*/*/*/* -->
      <div class="panel panel-default">
        <div class="panel-heading panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#panel2">
          <h4 class="panel-title">
            Caracterización macroscópica
            <span class="pull-right">
              <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
          </h4>
        </div>

        <div id="panel2" class="panel-collapse panel-collapse collapse">
          <div class="panel-body">

            <div class="col-md-4">
              <div class="form-group">
                <label for="comment">Fracciones</label>

                <select class="form-control" ng-model="fracciones">
                  <option ng-repeat="x in valores" value="{{x.id}}">{{x.nombre}}</option>
                </select>
              </div>
            </div>

            <div class="col-md-4">
              <label class="checkbox" ng-repeat="material in materiales1">
                <input type="checkbox" ng-model="material.selected"> {{material.name}}
              </label>
            </div>

            <div class="col-md-4">
              <label class="checkbox" ng-repeat="material in materiales2">
                <input type="checkbox" ng-model="material.selected"> {{material.name}}
              </label>
            </div>

          </div>
        </div>
      </div>

      <!-- /*/*/*/*/*/*/* PANEL 3 /*/*/*/*/*/*/* -->
      <div class="panel panel-default">
        <div class="panel-heading panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#panel3">
          <h4 class="panel-title">
            Análisis - Ratio C/N
            <span class="pull-right">
              <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
          </h4>
        </div>

        <div id="panel3" class="panel-collapse panel-collapse collapse">
          <div class="panel-body">

            <div class="col-md-4">
              <h4>Análisis elemental</h4>

              <div class="checkbox" ng-repeat="analisis in analisisElementales">
                <label class="checkbox">
                  <input type="checkbox" ng-model="analisis.selected"> <strong>{{analisis.name}}</strong>
                </label>
              </div>

            </div>

            <div class="col-md-4">
              <h4>Ratio C/N</h4>

              <div class="checkbox">
                <label class="checkbox"><input type="checkbox" ng-model="ratiocn" value=""><strong>Ratio C/N</strong></label>
              </div>
            </div>

            <div class="col-md-4">
              <h4>Análisis inmediato</h4>

              <div class="checkbox" ng-repeat="analisis in analisisInmediato">
                <label class="checkbox">
                  <input type="checkbox" ng-model="analisis.selected"> <strong>{{analisis.name}}</strong>
                </label>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- /*/*/*/*/*/*/* PANEL 4 /*/*/*/*/*/*/* -->
      <div class="panel panel-default">
        <div class="panel-heading panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#panel4">
          <h4 class="panel-title">
            Poder calorífico
            <span class="pull-right">
              <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
          </h4>
        </div>

        <div id="panel4" class="panel-collapse panel-collapse collapse">
          <div class="panel-body">

            <div class="col-md-6">
              <label class="checkbox-inline"><input type="checkbox" ng-model="poderCalorifico[0].selected"><strong>Poder Calorífico Superior (PCS)</strong></label>
            </div>

            <div class="col-md-6">
              <label class="checkbox-inline"><input type="checkbox" ng-model="poderCalorifico[1].selected"><strong>Poder Calorífico Inferior (PCI)</strong></label>
            </div>

          </div>
        </div>
      </div>

      <!-- /*/*/*/*/*/*/* PANEL 5 /*/*/*/*/*/*/* -->
      <div class="panel panel-default">
        <div class="panel-heading panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#panel5">
          <h4 class="panel-title">
            Formas de carbono / nitrógeno org.
            <span class="pull-right">
              <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
          </h4>
        </div>

        <div id="panel5" class="panel-collapse panel-collapse collapse">
          <div class="panel-body">

            <div class="col-md-6">
              <h4>Formas de carbono</h4>

              <div class="checkbox" ng-repeat="formas in formasCarbono">
                <label class="checkbox">
                  <input type="checkbox" ng-model="formas.selected"> <strong>{{formas.name}}</strong>
                </label>
              </div>
            </div>

            <div class="col-md-6">
              <h4>Nitrógeno orgánico</h4>

              <div class="checkbox">
                <label class="checkbox"><input type="checkbox" ng-model="nitrogenoOrganico[0].selected"><strong>NKT (nitrógeno orgánic total)</strong></label>
              </div>
              <div class="checkbox">
                <label class="checkbox"><input type="checkbox" ng-model="nitrogenoOrganico[1].selected"><strong>NH4 en muestras *</strong></label>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<!-- ////////////////////////////////// -->
<!-- ////////////// PASO 3 //////////// -->
<!-- ////////////////////////////////// -->
<div class="row setup-content" id="step-3">
  <div class="well1">
    <div class="container text-center">
      <h1>Análisis solicitados (II)</h1>

      <!--  opcion con botones de anterior y siguiente
      <div class="col-md-2">
        <button id="activate-step-2ant" class="btn btn-primary btn-lg margen">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </button>
      </div>

      <div class="col-md-8">
        <h1>Análisis solicitados (II)</h1>
      </div>

      <div class="col-md-2">
        <button id="activate-step-4" class="btn btn-primary btn-lg margen">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </button>
      </div>-->

    </div>
  </div>

  <div class="well2">
    <div class="container espacio">
      <!-- /*/*/*/*/*/*/* PANEL 1 /*/*/*/*/*/*/* -->
      <div class="panel panel-default">
        <div class="panel-heading panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#panel1_2">
          <h4 class="panel-title">
            Análisis por colorimetría
            <span class="pull-right">
              <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
          </h4>
        </div>

        <div id="panel1_2" class="panel-collapse panel-collapse collapse">
          <div class="panel-body">
            <div class="col-md-12 text-center">
              <div class="checkbox">
                <label class="checkbox"><input type="checkbox" ng-model="analisisColorimetria[0].selected" value=""><strong>Nitritos (*)</strong></label>
              </div>
              <div class="checkbox">
                <label class="checkbox"><input type="checkbox" ng-model="analisisColorimetria[1].selected" value=""><strong>Nitratos (*)</strong></label>
              </div>
              <div class="checkbox">
                <label class="checkbox"><input type="checkbox" ng-model="analisisColorimetria[2].selected" value=""><strong>Sulfatos (*)</strong></label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- /*/*/*/*/*/*/* PANEL 2 /*/*/*/*/*/*/* -->
      <div class="panel panel-default">
        <div class="panel-heading panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#panel2_2">
          <h4 class="panel-title">
            Potenciometría
            <span class="pull-right">
              <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
          </h4>
        </div>

        <div id="panel2_2" class="panel-collapse panel-collapse collapse">
          <div class="panel-body">
            <div class="col-md-6 text-center">
              <div class="checkbox">
                <label class="checkbox"><input type="checkbox" ng-model="analisisPotenciometria[0].selected" value=""><strong>pH</strong></label>
              </div>
              <div class="checkbox">
                <label class="checkbox"><input type="checkbox" ng-model="analisisPotenciometria[1].selected" value=""><strong>Oxígeno disuelto</strong></label>
              </div>
              <div class="checkbox">
                <label class="checkbox"><input type="checkbox" ng-model="analisisPotenciometria[2].selected" value=""><strong>Conductividad</strong></label>
              </div>
            </div>

            <div class="col-md-6 text-center">
              <div class="checkbox">
                <label class="checkbox"><input type="checkbox" ng-model="analisisPotenciometria[3].selected" value=""><strong>NH4 (*)</strong></label>
              </div>
              <div class="checkbox">
                <label class="checkbox"><input type="checkbox" ng-model="analisisPotenciometria[4].selected" value=""><strong>Potencial redox</strong></label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- /*/*/*/*/*/*/* PANEL 3 /*/*/*/*/*/*/* -->
      <div class="panel panel-default">
        <div class="panel-heading panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#panel2_3">
          <h4 class="panel-title">
            Análisis - Ratio C/N
            <span class="pull-right">
              <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
          </h4>
        </div>

        <div id="panel2_3" class="panel-collapse panel-collapse collapse">
          <div class="panel-body">

            <div class="col-md-12 text-center">
              <label class="checkbox-inline"><input type="checkbox" ng-model="dureza_dbo_dqo[0].selected" value=""><strong>Dureza del agua (ºF)</strong></label>
              <label class="checkbox-inline"><input type="checkbox" ng-model="dureza_dbo_dqo[1].selected" value=""><strong>DBO5</strong></label>
              <label class="checkbox-inline"><input type="checkbox" ng-model="dureza_dbo_dqo[2].selected" value=""><strong>DQO</strong></label>
            </div>

          </div>
        </div>
      </div>

      <!-- /*/*/*/*/*/*/* PANEL 4 /*/*/*/*/*/*/* -->
      <div class="panel panel-default">
        <div class="panel-heading panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#panel2_4">
          <h4 class="panel-title">
            Cromatografía iónica
            <span class="pull-right">
              <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
          </h4>
        </div>

        <div id="panel2_4" class="panel-collapse panel-collapse collapse">
          <div class="panel-body">

            <div class="col-md-4">
              <h4>Aniones</h4>
            </div>

            <div class="col-md-4">
              <label class="checkbox"><input type="checkbox" ng-model="cromatografiaIonica[0].selected" value="">Floruros</label>
              <label class="checkbox"><input type="checkbox" ng-model="cromatografiaIonica[1].selected" value="">Cloruros</label>
              <label class="checkbox"><input type="checkbox" ng-model="cromatografiaIonica[2].selected" value="">Nitritos (*)</label>
              <label class="checkbox"><input type="checkbox" ng-model="cromatografiaIonica[3].selected" value="">Nitratos (*)</label>
            </div>

            <div class="col-md-4">
              <label class="checkbox"><input type="checkbox" ng-model="cromatografiaIonica[4].selected" value="">Fosfatos</label>
              <label class="checkbox"><input type="checkbox" ng-model="cromatografiaIonica[5].selected" value="">Sulfatos (*)</label>
              <label class="checkbox"><input type="checkbox" ng-model="cromatografiaIonica[6].selected" value="">Otro (consultar)</label>
            </div>

          </div>
        </div>
      </div>

      <!-- /*/*/*/*/*/*/* PANEL 5 /*/*/*/*/*/*/* -->
      <div class="panel panel-default">
        <div class="panel-heading panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#panel2_5">
          <h4 class="panel-title">
            Ensayos BMP - AME - TOX
            <span class="pull-right">
              <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
          </h4>
        </div>

        <div id="panel2_5" class="panel-collapse panel-collapse collapse">
          <div class="panel-body">

            <div class="col-md-12 text-center">
              <label class="checkbox"><input type="checkbox" ng-model="bmpAmeTox[0].selected"><strong>BMP</strong> Ensayos de potencial metanogénico</label>
              <label class="checkbox"><input type="checkbox" ng-model="bmpAmeTox[1].selected"><strong>AME</strong> Ensayos de actividad metanogénica específica</label>
              <label class="checkbox"><input type="checkbox" ng-model="bmpAmeTox[2].selected"><strong>TOX</strong> Ensayos de inhibición/toxicidad</label>
            </div>

          </div>
        </div>
      </div>

      <!-- /*/*/*/*/*/*/* PANEL 6 /*/*/*/*/*/*/* -->
      <div class="panel panel-default">
          <div class="panel-heading panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#panel2_6">
            <h4 class="panel-title">
              Plasma de acopl. inductivo (ICP)
              <span class="pull-right">
                <i class="glyphicon glyphicon-chevron-down"></i>
              </span>
            </h4>
          </div>

          <div id="panel2_6" class="panel-collapse panel-collapse collapse">
            <div class="panel-body">

              <div class="col-md-3 text-center">
                <label class="checkbox"><input type="checkbox" ng-model="icp[0].selected" value=""><strong>Al</strong></label>
                <label class="checkbox"><input type="checkbox" ng-model="icp[1].selected" value=""><strong>Ca</strong></label>
                <label class="checkbox"><input type="checkbox" ng-model="icp[2].selected" value=""><strong>Fe</strong></label>
                <label class="checkbox"><input type="checkbox" ng-model="icp[3].selected" value=""><strong>K</strong></label>
                <label class="checkbox"><input type="checkbox" ng-model="icp[4].selected" value=""><strong>Mg</strong></label>
                <label class="checkbox"><input type="checkbox" ng-model="icp[5].selected" value=""><strong>Na</strong></label>
                <label class="checkbox"><input type="checkbox" ng-model="icp[6].selected" value=""><strong>Si</strong></label>
                <label class="checkbox"><input type="checkbox" ng-model="icp[7].selected" value=""><strong>Ti</strong></label>
              </div>

              <div class="col-md-3 text-center">
                <label class="checkbox"><input type="checkbox" ng-model="icp[8].selected" value=""><strong>Li</strong></label>
                <label class="checkbox"><input type="checkbox" ng-model="icp[9].selected" value=""><strong>Sr</strong></label>
                <label class="checkbox"><input type="checkbox" ng-model="icp[10].selected" value=""><strong>Ba</strong></label>
                <label class="checkbox"><input type="checkbox" ng-model="icp[11].selected" value=""><strong>V</strong></label>
                <label class="checkbox"><input type="checkbox" ng-model="icp[12].selected" value=""><strong>Cr</strong></label>
                <label class="checkbox"><input type="checkbox" ng-model="icp[13].selected" value=""><strong>Mo</strong></label>
                <label class="checkbox"><input type="checkbox" ng-model="icp[14].selected" value=""><strong>Mn</strong></label>
                <label class="checkbox"><input type="checkbox" ng-model="icp[15].selected" value=""><strong>Co</strong></label>
              </div>

              <div class="col-md-3 text-center">
                <label class="checkbox"><input type="checkbox" ng-model="icp[16].selected" value=""><strong>Ni</strong></label>
                <label class="checkbox"><input type="checkbox" ng-model="icp[17].selected" value=""><strong>Cu</strong></label>
                <label class="checkbox"><input type="checkbox" ng-model="icp[18].selected" value=""><strong>Ag</strong></label>
                <label class="checkbox"><input type="checkbox" ng-model="icp[19].selected" value=""><strong>Zn</strong></label>
                <label class="checkbox"><input type="checkbox" ng-model="icp[20].selected" value=""><strong>Cd</strong></label>
                <label class="checkbox"><input type="checkbox" ng-model="icp[21].selected" value=""><strong>Hg</strong></label>
                <label class="checkbox"><input type="checkbox" ng-model="icp[22].selected" value=""><strong>Ga</strong></label>
                <label class="checkbox"><input type="checkbox" ng-model="icp[23].selected" value=""><strong>In</strong></label>
              </div>

              <div class="col-md-3 text-center">
                <label class="checkbox"><input type="checkbox" ng-model="icp[24].selected" value=""><strong>Ti</strong></label>
                <label class="checkbox"><input type="checkbox" ng-model="icp[25].selected" value=""><strong>Sn</strong></label>
                <label class="checkbox"><input type="checkbox" ng-model="icp[26].selected" value=""><strong>Pb</strong></label>
                <label class="checkbox"><input type="checkbox" ng-model="icp[27].selected" value=""><strong>P</strong></label>
                <label class="checkbox"><input type="checkbox" ng-model="icp[28].selected" value=""><strong>As</strong></label>
                <label class="checkbox"><input type="checkbox" ng-model="icp[29].selected" value=""><strong>Sb</strong></label>
                <label class="checkbox"><input type="checkbox" ng-model="icp[30].selected" value=""><strong>Bi</strong></label>
                <label class="checkbox"><input type="checkbox" ng-model="icp[31].selected" value=""><strong>Se</strong></label>
              </div>

            </div>
          </div>
        </div>

    </div>
  </div>

</div>

<!-- ////////////////////////////////// -->
<!-- ////////////// PASO 4 //////////// -->
<!-- ////////////////////////////////// -->
<div class="row setup-content" id="step-4">
  <div class="well1">
    <div class="text-center">
      <h1>Observaciones</h1>
    </div>
  </div>

  <div class="well2">
    <div class="container espacio">
      <textarea class="form-control" rows="15" ng-model="observaciones" id="comment"></textarea>
      <h6>* Indicar en este apartado otros análisis de interés no recogidos en el formulario para consultar la posibilidad de llevarlos a cabo</h6>

      <div ng-show="mostrarInfo" class="alert alert-info">
        <strong>Procesando</strong> la petición.
      </div>

      <div ng-show="mostrarSuccess" class="alert alert-success">
        Petición <strong>enviada correctamente</strong>
      </div>

      <div ng-show="mostrarDanger" class="alert alert-danger">
        <strong>Error</strong> en la petición.
      </div>
    </div>

  </div>
</div>
